.footer__column-link {
    display: block;
    list-style-type: none;
    padding-inline-start: 0;
    color: white;
    text-decoration: none;
    line-height: 18px;
    font-size: 18px;
    margin: 0 0 10px;
}

.footer__column-link:hover {
    opacity: .6;
    transition: 200ms;
}






